{#
@var merchantReviewTableConfiguration \Generated\Shared\Transfer\GuiTableConfigurationTransfer
#}

{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headTitle %}
    {{ 'Merchant Reviews' | trans }}
{% endblock %}

{% block content %}
    <web-mp-merchant-review-merchant-portal
        cloak
        table-id="web-mp-merchant-review-merchant-portal"
        table-config='{{ guiTableConfiguration(merchantReviewTableConfiguration) }}'>
        <h1 title>{{ 'Merchant Reviews' | trans }}</h1>
    </web-mp-merchant-review-merchant-portal>
{% endblock %}

{% block footerJs %}
    {{ view.importJsBundle('merchant-review-merchant-portal-gui', importConfig) }}
    {{ parent() }}
{% endblock %}
