{% extends template('widget') %}

{% define data = {
    customerRepresentatives: _widget.representatives,
} %}

{% block template %}
    {% embed molecule('customer-representative-widget-tile', 'CustomerRepresentativeWidget') with {
        data: {
            icon: 'customer-representative',
            title: 'customer.representative.services.title' | trans,
        },
        embed: {
            customerRepresentativesUsers: data.customerRepresentatives.users,
        },
    } only %}
        {% block text %}
            <div class="{{ config.name }}__text">
                {% if embed.customerRepresentativesUsers is not empty %}
                    <ul class="list list--bullet">
                        {% for customerRepresentativeUser in embed.customerRepresentativesUsers %}
                            <li class="{{ config.name }}__list-item">
                                <div>{{ customerRepresentativeUser.firstName }} {{ customerRepresentativeUser.lastName }}</div>
                                <div><a class="link link--alt" href="mailto:{{ customerRepresentativeUser.username }}">{{ customerRepresentativeUser.username }}</a></div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ 'company.account.customer.service.empty' | trans }}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

